<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">Objetivo</h1>
        <p class="lead text-muted mb-0">
          Contribuir com a reciclagem, pois quanto mais reciclar, mais diminuirá
          os custos com limpeza urbana, além de evitar a poluição reduzindo as
          emissões de gases de efeito estufa que provocam a mudança climática
          global, mantendo o Meio Ambiente sustentável para as gerações futuras.
        </p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
        <img src="../../assets/nature.png" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <h2 class="font-weight-light">Código livre</h2>
        <p class="font-italic text-muted mb-4">
          Acesso ao código fonte, liberdade para ler e modificar toda a
          aplicação conforme sua necessidade. <br />
          Aprenda e contribua com a gente.
        </p>
        <a
          href="https://github.com/zthiagovalle/recicle-municipio"
          target="_blank"
          class="btn btn-light px-5 rounded-pill shadow-sm"
          >Github</a
        >
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
        <img
          src="https://img.freepik.com/free-vector/open-source-concept-illustration_114360-3583.jpg?t=st=1651543748~exp=1651544348~hmac=defd6a65284b3445b22d50f495019b181ca433fc00542fb359dfaff5e60cf3e1&w=996"
          alt=""
          class="img-fluid mb-4 mb-lg-0"
        />
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto">
        <img
          src="https://img.freepik.com/free-vector/organic-flat-csr-concept-illustrated_23-2148920344.jpg?t=st=1651543916~exp=1651544516~hmac=9b21e40ad10ac089abe01eea8902f04e470129f2ad3437ace09ab88370e8ed86&w=996"
          alt=""
          class="img-fluid mb-4 mb-lg-0"
        />
      </div>
      <div class="col-lg-6">
        <h2 class="font-weight-light">Contribua</h2>
        <p class="font-italic text-muted mb-4">
          Sabe de algum ponto de coleta no município e não encontrou ele no site
          ? <br />
          Envie uma mensagem para nós e faça parte desse movimento.
        </p>
        <a
          [routerLink]="['/contato']"
          class="btn btn-light px-5 rounded-pill shadow-sm"
          >Contato</a
        >
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Nosso time</h2>
        <p class="font-italic text-muted">
          O talento vence jogos, mas só o trabalho em equipe ganha campeonatos.
        </p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556834132/avatar-4_ozhrib.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Ana Patricia China</h5>
          <span class="small text-uppercase text-muted">Orientadora</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a
                href="https://www.instagram.com/annapatricia.china/"
                target="_blank"
                class="social-link"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a
                href="https://www.linkedin.com/in/anna-patricia-zakem-china-9427617b/"
                target="_blank"
                class="social-link"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Thiago Valle</h5>
          <span class="small text-uppercase text-muted">Programador</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a
                href="https://www.instagram.com/zthiagovalle/"
                target="_blank"
                class="social-link"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a
                href="https://www.linkedin.com/in/zthiagovalle/"
                target="_blank"
                class="social-link"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-2_f8dowd.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">João Victor</h5>
          <span class="small text-uppercase text-muted">Programador</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End-->
    </div>
  </div>
</div>
