.product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
}

.product-image {
    width: 125px;
    height: 200px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.main-container{
    padding-top: 10px;
    padding-bottom: 30px;
}

.waste-page {
    padding: 40px;
}

h3 {
    text-align: center;
    color: green;
}

.waste-row{
    padding-bottom: 40px;
}